.squads-body {
  background-color: #3782AD;
  box-shadow: 2px 2px 4px #282828;
  border-radius: 5px;
  color: #d2d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto 10px auto;
  opacity: .95;
  text-align: center;
  height: auto; }

.squads-body-title {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 10px 0 15px 0; }

.squads-body-info tbody {
  width: 100%; }

.squads-body input {
  background-color: #57a2cd;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px; }

.squads-body input:focus {
  outline: none; }

.squad-row a {
  color: #d2d3d3;
  display: flex;
  text-decoration: none; }

.squad-row th {
  font-size: 1.4em;
  font-weight: lighter; }
