@import '../../variables.scss';

.squads-body {
  background-color: $main;
  box-shadow: 2px 2px 4px $black;
  border-radius: 5px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto 10px auto;
  opacity: .95;
  text-align: center;
  height: auto;
  border-radius: 25px;
}

.squads-body-title {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 10px 0 15px 0;
}

.squads-body-info tbody {
  width: 100%;
}

.squads-body input {
  background-color: $main-light;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px;
}

.squads-body input:focus {
  outline: none;
}

.squad-row a {
  color: $white;
  display: flex;
  text-decoration: none;
}

.squad-row th {
  font-size: 1.4em;
  font-weight: lighter;
}
