.welcome {
  background-image: url(./Components/Assets/up-arrows.jpg);
  background-size: cover; }

.welcome-form {
  display: flex;
  flex-direction: column; }

.welcome-form input {
  border-radius: 5px;
  margin: 25px auto 10px auto;
  color: #0e5bd7;
  font-weight: lighter;
  font-size: 1em;
  width: 45%; }

.welcome-form input:focus {
  outline: none; }

.welcome-img {
  background-image: url(./Components/Assets/finish.jpg);
  background-repeat: no-repeat;
  height: 30%;
  margin: 60px; }
