.welcome {
  background-image: url(./Components/Assets/sunshine.jpg);
  background-size: cover; }

.welcome-form {
  display: flex;
  flex-direction: column;
  height: 200px; }

.welcome-form input {
  border-radius: 5px;
  margin: 25px auto 10px auto;
  color: #3782AD;
  font-weight: lighter;
  font-size: 1em;
  width: 45%;
  height: 40px; }

.welcome-form input:focus {
  outline: none; }

.welcome-img {
  background-image: url(./Components/Assets/finish.jpg);
  background-repeat: no-repeat;
  height: 30%;
  width: 400px;
  margin: auto; }
