@import '../../variables.scss';

* {
  margin: 0;
}

.dashboard-container {
  background-image: url(./Components/Assets/up-arrows.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 50%;
}

.smack-talk {
  background-color: $main-light;
  margin: auto;
  height: 40%;
  width: 80%;
}

.smack-talk h1 {
  font-size: 1.3em;
  font-weight: lighter;
}

.dashboard-body {
  text-align: center;
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  min-width: 350px;
  margin: 10px auto 10px auto;
  opacity: .95;
}

.dashboard-body-title {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 20px 0 20px 0;
  padding-top: 20px;
}

.dashboard-body-info {
  background-color: $main-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: .8em;
  height: 40%;
  width: 80%;
  margin: auto auto 50px auto;
}

.dashboard-body-info h2 {
  font-size: 1.3em;
  font-weight: lighter;
  margin: 10px;
}


.squads-body-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8em;
  margin: 10px;
}

.nav-button {
  padding: 10px;
  text-decoration: none;
  border: none;
  background-color: $main-dark;
  color: $white;
  box-shadow: 2px 2px 3px 0px $black;
}
