* {
  margin: 0;
  box-sizing: border-box;
  height: 100%; }

::-webkit-scrollbar {
  display: none; }

.App {
  background-image: url(./Components/Assets/sunshine.jpg);
  background-size: cover;
  overflow: scroll; }

.dashboard-container {
  display: flex;
  justify-content: center; }

.content-container {
  width: 65%; }

.smack-talk {
  width: 100%;
  height: 300px;
  border: #282828 2px solid;
  border-radius: 25px; }

.smack-talk h1 {
  font-size: 1.3em;
  font-weight: lighter; }

.dashboard-body {
  text-align: center;
  background-color: #4169AF;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  color: #d2d3d3;
  display: block;
  overflow: auto;
  height: auto;
  min-height: 400px;
  width: 60%;
  min-width: 350px;
  margin: 10px auto 10px auto;
  opacity: .95;
  border-radius: 25px; }

.dashboard-body-title {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 20px 0 20px 0;
  padding-top: 20px;
  height: 20px; }

.squad-dashboard-body-titles {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.dashboard-body-info {
  background-color: #83A0D3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  font-size: .8em;
  height: auto;
  width: 80%;
  margin: auto auto 50px auto; }

h2 {
  height: 30px; }

.dashboard-body-info h2 {
  font-size: 1.3em;
  font-weight: lighter;
  margin: 10px; }

.squads-body-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .8em;
  margin: 10px; }

.nav-button {
  padding: 10px;
  text-decoration: none;
  border: none;
  background-color: #637F35;
  color: #d2d3d3;
  box-shadow: 2px 2px 3px 0px #282828;
  height: auto;
  border-radius: 10px; }

.single-button-container {
  height: auto; }

.conversation-container {
  background-color: #83A0D3;
  margin: auto;
  height: 40%;
  width: 80%;
  border-radius: 25px; }

.group-dash {
  height: auto; }
