@import '../../variables.scss';

.dashboard-container h1 {
  display: inline-block;
  color: $main;
  margin: 10px 0 20px 30px;
}

.dashboard-header {
  align-items: center;
  background-color: $main;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  min-width: 300px;
  margin: 10px auto 10px auto;
  opacity: .95;
}

.dashboard-header input:focus {
  outline: none;
}

.dashboard-header a {
  color: $white;
  font-size: 1.5em;
  font-weight: lighter;
  text-decoration: none;
}

.user-name,
.user-points {
  color: $white;
  font-size: 1.5em;
  font-weight: lighter;
}
