.dashboard-container h1 {
  display: inline-block;
  color: #0e5bd7;
  margin: 10px 0 20px 30px; }

.dashboard-header {
  align-items: center;
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7vw;
  width: 60vw;
  margin: 10px auto 10px auto;
  opacity: .95; }

.dashboard-header input:focus {
  outline: none; }

.dashboard-header a {
  color: #d2d3d3;
  font-size: 1.5em;
  font-weight: lighter;
  text-decoration: none; }

.user-name,
.user-points {
  color: #d2d3d3;
  font-size: 1.5em;
  font-weight: lighter; }
