.dashboard-header {
  align-items: center;
  background-color: #3782AD;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  min-width: 300px;
  margin: 10px auto 10px auto;
  opacity: .95; }

.dashboard-header input:focus {
  outline: none; }

.dashboard-header a {
  color: #d2d3d3;
  font-size: 1.5em;
  font-weight: lighter;
  text-decoration: none; }

.user-name,
.user-points {
  color: #d2d3d3;
  font-size: 1.5em;
  font-weight: lighter; }

.squad-row, .goal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto; }

.row-header {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline; }

.squad-row h3, .goal-row h3 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; }

h3 a {
  display: flex;
  justify-content: center;
  align-items: center; }
