.navigation {
  background-color: $main;
  height: 7vh;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-links {
  list-style: none;
}

.nav-links a {
  display: block;
  font-size: 1.2em;
  margin-top: 15px;
}
