.submit-comment {
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 10px; }

.submit-comment-form {
  width: 100%; }

.submit-comment input {
  height: 40px; }

.submit-comment-input {
  width: 75%;
  min-width: 250px; }

.submit-comment-button {
  width: 20%;
  min-width: 75px; }
