.dashboard {
  background-image: url(./Components/Assets/up-arrows.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  // text-align: center;
  height: 85vh;
}

.dashboard h1 {
  display: inline-block;
  color: #0e5bd7;
  margin: 0;
}

.dash-header {
  align-items: center;
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 7vw;
  width: 50vw;
  margin: 10px auto 10px auto;
  opacity: .95;
}

.dash-header input {
  background-color: #0e5bd7;
  color: #fff;
  border: none;
  font-weight: lighter;
  font-size: 1.5em;
}

.dash-header input:focus {
  outline: none;
}

.dash-body {
  color: #0e5bd7
}
