h1.goal-body-title {
  color: #d2d3d3;
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
  height: 75px; }

.dashboard-body-info p {
  color: #d2d3d3;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  width: 100%; }

.goal-dash-content {
  height: auto; }

.creator-info {
  height: 40px; }
