@import '../../variables.scss';


h1.goal-body-title {
  color: $white;
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
  height: 75px;
}

.dashboard-body-info p {
  color: $white;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  width: 100%
}

.creator-info {
  // display: flex;
  // flex-direction: row;
  height: 40px;
}
