@import './Components/App/App.scss';
@import './Components/Navigation/Navigation.scss';
@import './Components/Welcome/Welcome.scss';
@import './Components/UserDashboard/UserDashboard.scss';
@import './Components/SquadsContainer/SquadsContainer.scss';
@import './Components/GoalsContainer/GoalsContainer.scss';
@import './Components/CreateGoals/CreateGoals.scss';
@import './Components/CreateSquads/CreateSquads.scss';
@import './Components/SquadDashboard/SquadDashboard.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
