@import './Components/App/App.scss';
@import './Components/Navigation/Navigation.scss';
@import './Components/Welcome/Welcome.scss';
@import './Components/Dashboard/Dashboard.scss';
@import './Components/Squads/Squads.scss';
@import './Components/Challenges/Challenges.scss';
@import './Components/CreateChallenges/CreateChallenges.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
