* {
  margin: 0;
  box-sizing: border-box;
  height: 100%; }

.dashboard-container {
  background-image: url(./Components/Assets/up-arrows.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: scroll; }

.content-container {
  width: 65%; }

.smack-talk {
  width: 100%;
  height: 300px; }

.smack-talk h1 {
  font-size: 1.3em;
  font-weight: lighter; }

.dashboard-body {
  text-align: center;
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  color: #d2d3d3;
  height: auto;
  min-height: 400px;
  width: 60%;
  min-width: 350px;
  margin: 10px auto 10px auto;
  opacity: .95; }

.dashboard-body-title {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 20px 0 20px 0;
  padding-top: 20px;
  height: 20px; }

.squad-dashboard-body-titles {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.dashboard-body-info {
  background-color: #22affe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .8em;
  height: auto;
  width: 80%;
  margin: auto auto 50px auto; }

h2 {
  height: 30px; }

.dashboard-body-info h2 {
  font-size: 1.3em;
  font-weight: lighter;
  margin: 10px; }

.squads-body-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: .8em;
  margin: 10px; }

.nav-button {
  padding: 10px;
  text-decoration: none;
  border: none;
  background-color: #001197;
  color: #d2d3d3;
  box-shadow: 2px 2px 3px 0px #282828;
  height: auto; }

.single-button-container {
  height: auto; }

.conversation-container {
  background-color: #22affe;
  margin: auto;
  height: 40%;
  width: 80%; }

.group-dash {
  height: auto; }

.navigation {
  background-color: #0e5bd7;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.navigation .nav-button {
  height: 40px; }

.navigation h1 {
  align-items: center;
  color: #d2d3d3;
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  margin: 0;
  margin-left: 40px;
  width: 35%; }

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  height: 40px; }

.nav-links {
  list-style: none; }

.nav-links a {
  display: block;
  font-size: 1.2em;
  margin-right: 40px; }

.welcome {
  background-image: url(./Components/Assets/up-arrows.jpg);
  background-size: cover; }

.welcome-form {
  display: flex;
  flex-direction: column;
  height: 200px; }

.welcome-form input {
  border-radius: 5px;
  margin: 25px auto 10px auto;
  color: #0e5bd7;
  font-weight: lighter;
  font-size: 1em;
  width: 45%;
  height: 40px; }

.welcome-form input:focus {
  outline: none; }

.welcome-img {
  background-image: url(./Components/Assets/finish.jpg);
  background-repeat: no-repeat;
  height: 30%;
  width: 400px;
  margin: auto; }

.dashboard-header {
  align-items: center;
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  min-width: 300px;
  margin: 10px auto 10px auto;
  opacity: .95; }

.dashboard-header input:focus {
  outline: none; }

.dashboard-header a {
  color: #d2d3d3;
  font-size: 1.5em;
  font-weight: lighter;
  text-decoration: none; }

.user-name,
.user-points {
  color: #d2d3d3;
  font-size: 1.5em;
  font-weight: lighter; }

.squad-row, .goal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto; }

.row-header {
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline; }

.squad-row h3, .goal-row h3 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; }

h3 a {
  display: flex;
  justify-content: center;
  align-items: center; }

.squads-body {
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px #282828;
  border-radius: 5px;
  color: #d2d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto 10px auto;
  opacity: .95;
  text-align: center;
  height: auto; }

.squads-body-title {
  font-weight: lighter;
  font-size: 1.5em;
  margin: 10px 0 15px 0; }

.squads-body-info tbody {
  width: 100%; }

.squads-body input {
  background-color: #22affe;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px; }

.squads-body input:focus {
  outline: none; }

.squad-row a {
  color: #d2d3d3;
  display: flex;
  text-decoration: none; }

.squad-row th {
  font-size: 1.4em;
  font-weight: lighter; }

.goal-body {
  text-align: center;
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  margin: 10px auto 10px auto;
  opacity: .95;
  height: auto; }

.goal-body-title {
  color: #d2d3d3;
  font-weight: lighter;
  font-size: 1.5em;
  margin: 10px 0 15px 0; }

.goal-body-info {
  color: #d2d3d3;
  display: flex;
  flex-direction: column;
  font-size: .8em; }

.goal-body-info p {
  margin: 10px 0 10px 0; }

.goal-row a {
  color: #d2d3d3;
  display: flex;
  text-decoration: none; }

.create-goals-body {
  display: flex;
  flex-direction: column; }

.goal-input,
.date-input,
.goal-point-option,
.create-goals-button {
  border-radius: 5px;
  margin: 25px; }

.create-squads {
  background-image: url(./Components/Assets/up-arrows.jpg);
  background-size: cover; }

.create-squads-body {
  text-align: center;
  background-color: #0e5bd7;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  margin: 40px auto;
  opacity: .95; }

.create-squads-body h1 {
  margin-bottom: 15px;
  padding-top: 10px; }

.create-squads-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 40%; }

.create-squads-form input {
  border: none;
  margin: 10px;
  border-radius: 3px; }

.create-squads-form input:focus {
  outline: none; }

.create-squads-form input[type=button] {
  font-size: .8em;
  width: 35%;
  margin: 15px auto; }

.squad-dashboard-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 8px; }

.squad-dashboard-button input {
  font-size: 1.3em;
  font-weight: lighter;
  text-decoration: none; }

.squad-dashboard-button a {
  font-size: 1.4em;
  font-weight: lighter; }

.squad-dashbord-body-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; }

h1.goal-body-title {
  color: #d2d3d3;
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
  height: 75px; }

.dashboard-body-info p {
  color: #d2d3d3;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  width: 100%; }

.goal-dash-content {
  height: auto; }

.creator-info {
  height: 40px; }

.smack-talk h1 {
  color: #282828;
  font-weight: bold;
  font-size: 2em;
  line-height: 2em;
  margin: 0;
  height: 50px; }

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d2d3d3;
  border: #282828 10px solid;
  height: 250px;
  overflow: scroll; }

.comment {
  margin: 10px 20px;
  height: 250px;
  width: 95%; }

.comment p {
  color: #282828;
  height: auto;
  margin-right: auto;
  text-align: left; }

.submit-comment {
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 10px;
  height: 50px; }

.submit-comment-form {
  width: 100%; }

.submit-comment input {
  height: 40px; }

.submit-comment-input {
  width: 75%;
  min-width: 250px; }

.submit-comment-button {
  width: 20%;
  min-width: 75px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%; }
