$main-light: #57a2cd;
$main: #4169AF;
$main-dark: #001197;

$secondary-light: #fcbc60;
$secondary: #637F35;
$secondary-dark: #cf861f;

$white: #d2d3d3;
$lightgrey: #9e9fa0;
$grey: #576368;
$darkgrey: #585858;
$black: #282828;
