$main-light: #22affe;
$main: #0e5bd7;
$main-dark: #001197;

$secondary-light: #fcbc60;
$secondary: #fca325;
$secondary-dark: #cf861f;

$white: #d2d3d3;
$lightgrey: #9e9fa0;
$grey: #576368;
$darkgrey: #585858;
$black: #282828;
