@import '../../variables.scss';

.goal-body {
  text-align: center;
  background-color: $main;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  margin: 10px auto 10px auto;
  opacity: .95;
  height: auto;
  border-radius: 25px;
}

.goal-body-title {
  color: $white;
  font-weight: lighter;
  font-size: 1.5em;
  margin: 10px 0 15px 0;
}

.goal-body-info {
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: .8em
}

.goal-body-info p {
  margin: 10px 0 10px 0;
}

.goal-row a {
  color: $white;
  display: flex;
  text-decoration: none;
}
